// settings:
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  text-decoration: none;
  outline: none;
  vertical-align: baseline;
  list-style-type: none;
}
@import "./components/header";
@import "./components/footer";
@import "./components/1modal";
@import "./components/main";

// style:
.container {
  width: 1440px;
  min-width: 1440px;
  min-height: 3502px;
  height: 3502px;
  margin: 0 auto 0 auto;
  background-image: url(/img/container_background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: "Montserrat Alternates";
}
