main {
  width: 1090px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main__section {
    width: 536px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main__subtitle {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.line {
  width: 536px;
  height: 1px;
  background-color: #000000;
}
.main__btn {
  width: 35px;
  height: 35px;
  background-color: #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-icon {
    width: 15px;
    height: 15px;
  }
}
.main__section--games {
  height: 65px;
  justify-content: space-between;
  .main__title {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
}

.main__section--year-check {
  .main__subtitle {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 36px;
  }
}
.year-check-block {
  width: 576px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.year-check_input-block {
  width: 215px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 3px 3px 0 0 #bfbfbf;
  .main__result {
    min-width: 212px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
  }
}
.main__input {
  width: 185px;
  height: 35px;
  background-color: #d7d7d7;
  padding: 10px;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  // text
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.main__section--guess-number {
  height: 127px;
  .main__subtitle {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .main__input {
    width: 115px;
    height: 35px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    padding: 10px;
    background-color: #d7d7d7;
  }
  .main__guess-block {
    width: 576px;
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
  }
  .main__result {
    min-width: 224px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #039900;
  }
  .input {
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 3px 3px 0 0 #bfbfbf;
  }
}
//
//
// Камінь - ножиці - папір
.main__section--rps {
  position: relative;
  width: 1090px;
  height: 274px;
  justify-content: space-between;
  .main__rps-list {
    width: 256px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main__rps-item {
      width: 60px;
      height: 60px;
      border-radius: 20px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      .main__rps-img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .main__score-list {
    width: auto;
    min-width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    position: absolute;
    top: 56px;
    // right: 220px;
    left: 500px;
    li {
      min-width: 90px;
      max-width: 120px;
    }
  }
  .main__btn {
    width: 182px;
    height: 35px;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
}
.main__result {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #039900;
}

.main__section--calc {
  height: 152px;
  justify-content: space-between;
  .calc_result {
    min-width: 118px;
    width: auto;
    height: 35px;
    border-radius: 20px;
    background-color: #d7d7d7;
    color: #7e7e7e;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 10px 20px;
  }
  .main__calc-block {
    width: 629px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main__input {
    width: 135px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 0 #00000035;
    background-color: #d7d7d7;
    padding: 10px 20px;
    &:nth-child(5) {
      width: 118px;
    }
  }
  .main__calc-ops {
    width: 62px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
  }
  .main__calc-op {
    width: 27px;
    height: 25px;
  }
  .main__btn {
    width: 27px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 3px 3px 0 0 #00000035;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
  }
}

.main__section--time-calc {
  height: 127px;
  width: 536px;
  position: relative;
  justify-content: space-between;
  .main__time-block {
    width: 392px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 36px;
    left: 35px;
  }
  .main__time-group {
    width: 150px;
    height: 35px;
    box-shadow: 3px 3px 0 0 #00000035;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .main__input {
    width: 115px;
    height: 35px;
  }
  .main__result {
    color: #000000;
  }
}

.main__section--dino {
  height: 297px;
  width: 720px;
  justify-content: space-between;
  .dino_container {
    width: 720px;
    height: 241px;
    position: relative;
    background-image: url(/img/desert_dinoGame.png);
    // background-position: 30% 30%;
    background-size: contain;
    border-radius: 20px;
    img {
      width: 55px;
      height: 55px;
      position: absolute;
      bottom: 30px;
      left: 30px;
    }
    .dino_line {
      width: 660px;
      height: 1px;
      background-color: #000;
      position: absolute;
      bottom: 30px;
      left: 30px;
    }
    .big_cactus {
      width: 40px;
      height: 40px;
      display: none;
      position: absolute;
      right: 0px;
    }
    .small_cactus {
      width: 40px;
      height: 40px;
      display: none;
      position: absolute;
    }
  }
  .jump {
    animation: dino_jump 1s;
  }
  @keyframes dino_jump {
    0% {
      bottom: 30px;
    }
    50% {
      bottom: 70px;
    }
    100% {
      bottom: 30px;
    }
  }
  .cactusGo {
    animation: cactusGo 6s;
  }
  @keyframes cactusGo {
    0% {
      right: 0px;
      display: block;
      opacity: 100%;
    }
    5% {
      right: 2px;
      opacity: 0%;
    }
    50% {
      right: 360px;
    }
    100% {
      left: 0px;
    }
  }
  .teleported {
    animation: teleported 1s;
  }
  @keyframes teleported {
    0% {
      left: 0px;
    }
    100% {
      right: 0px;
    }
  }
}

.main__section--football {
  height: 312px;
  justify-content: space-between;
  .main__football-field {
    width: 720px;
    height: 220px;
    border-radius: 37px;
    box-shadow: inset 0 0 0 2px #000000;
    background-color: #5abb58;
    position: relative;
  }
  .main_ball {
    width: 50px;
    height: 50px;
    position: absolute;
  }
}

.main__section--three-numbers {
  height: 178px;
  justify-content: space-between;
  .main__numbers-list {
    width: 481px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .main__numbers-item {
      width: 135px;
      height: 35px;
      .main__input {
        width: 135px;
        height: 35px;
        border-radius: 20px;
        box-shadow: 3px 3px 0 0 #00000035;
      }
    }
  }
  .main__result {
    color: #000;
  }
}
