main {
  width: 1090px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  .main__section {
    width: 536px;
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main__subtitle {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.line {
  width: 536px;
  height: 1px;
  background-color: #000000;
}
.main__btn {
  width: 35px;
  height: 35px;
  background-color: #000000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-icon {
    width: 15px;
    height: 15px;
  }
}
.main__section--games {
  height: 65px;
  justify-content: space-between;
  .main__title {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
  }
}

.main__section--year-check {
  .main__subtitle {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 36px;
  }
}
.year-check-block {
  width: 576px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.year-check_input-block {
  width: 215px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: 3px 3px 0 0 #bfbfbf;
  .main__result {
    min-width: 212px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
  }
}
.main__input {
  width: 185px;
  height: 35px;
  background-color: #d7d7d7;
  padding: 10px;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  // text
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #7e7e7e;
}

.main__section--guess-number {
  height: 127px;
  .main__subtitle {
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .main__input {
    width: 115px;
    height: 35px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    padding: 10px;
    background-color: #d7d7d7;
  }
  .main__guess-block {
    width: 576px;
    margin-top: 36px;
    margin-bottom: 36px;
    display: flex;
    justify-content: space-between;
  }
  .main__result {
    min-width: 224px;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #039900;
  }
  .input {
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 3px 3px 0 0 #bfbfbf;
  }
}
//
//
// Камінь - ножиці - папір
.main__section--rps {
  position: relative;
  width: 1090px;
  height: 274px;
  justify-content: space-between;
  .main__rps-list {
    width: 256px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .main__rps-item {
      width: 60px;
      height: 60px;
      border-radius: 20px;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      .main__rps-img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .main__score-list {
    width: 93px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    position: absolute;
    top: 56px;
    // right: 220px;
    left: 500px;
  }
  .main__btn {
    width: 182px;
    height: 35px;
    border-radius: 20px;
    color: #ffffff;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
}
.main__result {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #039900;
}

.main__section--calc {
  height: 152px;
  justify-content: space-between;
  .main__calc-block {
    width: 629px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main__input {
    width: 135px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 3px 3px 0 0 #00000035;
    background-color: #d7d7d7;
    padding: 10px 20px;
    &:nth-child(5) {
      width: 118px;
    }
  }
  .main__calc-ops {
    width: 62px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
  }
  .main__calc-op {
    width: 27px;
    height: 25px;
  }
  .main__btn {
    width: 27px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 3px 3px 0 0 #00000035;
    font-family: "Montserrat Alternates";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
  }
}

.main__section--time-calc {
  height: 127px;
  width: 536px;
  position: relative;
  justify-content: space-between;
  .main__time-block {
    width: 392px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 36px;
    left: 35px;
  }
  .main__time-group {
    width: 150px;
    height: 35px;
    box-shadow: 3px 3px 0 0 #00000035;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .main__input {
    width: 115px;
    height: 35px;
  }
  .main__result {
    color: #000000;
  }
}

.main__section--dino {
  height: 297px;
  width: 720px;
  justify-content: space-between;
}
